.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal {
  font-family: Inter, sans-serif;
  border-radius: 8px;
  padding: 16px;
  min-width: 500px;
  box-shadow: 0 16px 50px 0 rgba(0, 0, 0, 0.24);
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #dedfe5;
}

.header h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: -0.03em;
  color: #323749;
}

.header button {
  cursor: pointer;
  color: #000;
}

.modal div {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: left;
  color: #323749;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.buttons img {
  cursor: pointer;
}
