.container {
    display: none;
    align-items: center;
    gap: 20px;
    box-shadow: 0 16px 50px 0 rgba(0, 0, 0, 0.24);
    background: #fff;
    border-radius: 8px 8px 0 0;
    padding: 16px;
}

.active {
    display: flex;
}

.text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    letter-spacing: -0.04em;
    color: #323749;
}

.toastImg {
    cursor: pointer;
}